<div class="container">
<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile *ngFor="let Employee of  EmployeList">

    <mat-card class="card">
  <img class="img-container"  mat-card-image [src]="Employee.imageUrl" alt="Photos of CodeTripe Employee" >
  <mat-card-content>
       <h1>{{Employee.FirstName}} {{Employee.LastName }} <span>({{Employee.Age}})  </span> </h1>
    <p class="title">{{Employee.Title}}</p>
    <p class="department">{{Employee.Department}} </p>
  </mat-card-content>
  <mat-action-row class="BtnContainer">
    <button mat-raised-button class="updateBtn"  (click)="updateDialog(Employee.Id)">Update</button>

      <button mat-raised-button class="deleteBtn" (click)="openDialog(Employee.Id)" >Delete</button>
  </mat-action-row>
</mat-card>

  </mat-grid-tile>
</mat-grid-list>

</div>